<!DOCTYPE html>
<html>

<head>
  <title>New User Feedback Received</title>

</head>
<style>
  .navbar div {
    width: calc(100% / 3);
  }

  @media screen and (max-width: 700px) {
    .navbar div {
      width: calc(100% / 2);
    }
  }
</style>

<body style="font-size: 14px; margin: auto;
    max-width: 516px;
    min-width: 220px;
    color:  #333133;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    ">
  {{> header}}

  <div style="margin: 24px 0; 
color: #00B553;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 112.5% */
letter-spacing: 0.8px;">

    <p class="title">New User Feedback Received
    </p>
  </div>
  <div style="border-radius: 16px;
border: 1px solid rgba(128, 125, 126, 0.30);
background: rrgba(128, 125, 126, 0.30); margin: 24px 0;"></div>
  <p>Dear {{ customerName }}, </p>
  <p style="margin: 24px 0;">
  <p>A new feedback has been submitted by {{ customerName }} regarding mortgage service.</p>
  <p>Feedback Details:</p>
  <p>
    Rating: <b>{{ star }} stars</b>
  </p>
  <p>
    Testimonial: <b>{{ comment }}</b>
  </p>

  <p>Please click View details button as below to review the feedback</p>

  <div style="text-align: center; margin: auto;">
    <a style="text-decoration: none;  border-radius: 40px;
background-color: #AC2125;
padding: 8px;
align-items: center;
border: none;
color: #FFFDFD;
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
display: inline-block;
     width: 40%;
    min-width: 160px;
    white-space: normal;
    margin-top: 20px;
" href="{{ link }}">
      View Details
    </a>
  </div>

  <p>Thank you for being a part of Pacificwide!</p>
  <p>Sincerely,</p>
  The Pacificwide Real Estate & Mortgage Team
  {{> footer}}
</body>

</html>
